*{
	margin: 0;
	padding: 0;
}
h1{
	text-align: center;
	background-color: #203040;
	color: #fff;
	font-family: monospace;
	padding: 1rem 0;
	font-size: 2.1rem;
}	
#container{
	display: flex;
	justify-content: center;
	align-items: center;
}
h3{
	margin-left: 20%;
}
.box{
	width: 300px;
	height: 300px;
	cursor: pointer;
	transition: .3s;
}
.box:hover{
	opacity: .6;
}

h3, span{
	font-size: 1.5rem;
	display: inline-block;
	margin-top: 2rem;
	
}

span{
	padding: .3rem 1.4rem;
	border-radius: 5rem;
	cursor: pointer;
	transition: .4s;
}
span:hover{
	opacity: .7;
	color: white;
}
footer{
	background-color: #203040;
	color: #fff;
	text-align: center;
	padding: 1rem 0;
	font-size: 1.2rem;
	font-family: monospace;
}
p{
	text-align: center;
	font-size: 1.3rem;
	font-family: cursive;
}
